.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
}
p.info {
    font-family: 'lexend';
    color: var(--sub-color);
    font-size: 1.2rem;
}
.account table {
    border-spacing: 0; 
    border-collapse: separate;
    overflow:hidden;
    max-width: 50%; 
    width: 50%;
    padding-top: 1rem;
}
.account table thead tr {
    text-align: left;
    background-color: var(--sub-alt-color);
}
.account table th, .account table td {
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    font-family: 'lexend';
}
.account table th {
    color: var(--sub-color);
}
.account table td {
    color: var(--sub-color);
}
.account tbody tr:nth-of-type(even) {
    background-color: var(--sub-alt-color)
}
.account table tbody tr {
    text-align: left;
}
  
.account table tbody td {
    border: solid 0px transparent;
    border-style: solid none;
}
.account table tbody td:first-child, .account table thead th:first-child {
    border-top-left-radius: 6px; 
    border-bottom-left-radius: 6px;
}
.account table tbody td:last-child, .account table thead th:last-child {
    border-bottom-right-radius: 6px; 
    border-top-right-radius: 6px; 
}

.account button {
    margin-bottom: 4.2rem;
    margin-top: 1.0rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 50%;
    background-color: var(--sub-alt-color);
    outline: none;
    border: 1px solid var(--sub-alt-color);
    font-family: 'lexend';
    color: var(--sub-color);
    font-size: 1rem;
    border-radius: 7px;
    cursor: pointer;
}