.footer {
    margin-top: 2.5rem;
    margin-bottom: 5.1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.footer table {
    border-spacing: 0; 
    border-collapse: separate;
    overflow:hidden;
    max-width: 55rem; 
    width: 50rem;
    padding-left: 20px;
    padding-right: 20px;
}
.footer table thead tr {
    text-align: left;
    background-color: var(--sub-alt-color);
}
.footer table th, .footer table td {
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    font-family: 'lexend';
}
.footer table th {
    color: var(--sub-color);
}
.footer table td {
    color: var(--sub-color);
}
.footer tbody tr:nth-of-type(even) {
    background-color: var(--sub-alt-color)
}
.footer table tbody tr {
    text-align: left;
}
  
.footer table tbody td {
    border: solid 0px transparent;
    border-style: solid none;
}
.footer table tbody td:first-child, .footer table thead th:first-child {
    border-top-left-radius: 6px; 
    border-bottom-left-radius: 6px;
}
.footer table tbody td:last-child, .footer table thead th:last-child {
    border-bottom-right-radius: 6px; 
    border-top-right-radius: 6px; 
}
@media only screen and (max-width: 50rem) {
    .footer table {
      width: 100%;
    }
  }
@media screen and (max-width: 650px){
    table th.sno { display: none; }
    table td.sno { display: none; }
    .footer table tbody td:nth-child(2), .footer table thead th:nth-child(2) {
        border-top-left-radius: 6px; 
        border-bottom-left-radius: 6px;
    }
}
@media screen and (max-width: 430px) {
    table th.raw { display: none; }
    table td.raw { display: none; }
    .footer table tbody td:nth-child(6), .footer table thead th:nth-child(6) {
        border-bottom-right-radius: 6px; 
        border-top-right-radius: 6px; 
    }
}

.chart {
    width: 69rem;
    max-width: 69rem;
    height: 400px;
    margin-top: 7rem;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
@media screen and (max-width: 400px) {
    .footer .chart {
        height: 300px;
    }
}
@media only screen and (max-width: 69rem) {
    .footer .chart {
      width: 100%;
    }
  }

  @media screen and (max-width: 350px) {
    .footer table th, .footer table td {
        padding: 10px 10px 10px 20px;
        font-size: 12px;
        font-family: 'lexend';
    }
}
@media screen and (max-width: 285px) {
    table th.chars { display: none; }
    table td.chars { display: none; }
    .footer table tbody td:nth-child(6), .footer table thead th:nth-child(6) {
        border-bottom-right-radius: 6px; 
        border-top-right-radius: 6px; 
    }
}