@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: Inconsolata, monospace;
  background-color: var(--bg-color);
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/LexendDeca-Regular.ttf") format("truetype");
}

:root {
  --bg-color: #262a33;
  --main-color: #43ffaf;
  --sub-color: #526777;
  --sub-alt-color: #1f232c;
  --text-color: #e5f7ef;
  --error-color: #ff5f5f;
}

::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.toast-success-container {
  color: var(--text-color) !important;
  border-radius: 8px !important;
  background: var(--sub-alt-color) !important;
  border: 3px solid var(--main-color) !important;
}
.toast-success-progress {
  background: var(--main-color) !important;
}

.toast-error-container {
  color: var(--text-color) !important;
  border-radius: 8px !important;
  background: var(--sub-alt-color) !important;
  border: 3px solid var(--error-color) !important;
}
.toast-error-progress {
  background: var(--error-color) !important;
}

.toast-info-container {
  color: var(--text-color) !important;
  border-radius: 8px !important;
  background: var(--sub-alt-color) !important;
  border: 3px solid var(--sub-color) !important;
}
.toast-info-progress {
  background: var(--sub-color) !important;
}