@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: Inconsolata, monospace;
  background-color: var(--bg-color);
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/LexendDeca-Regular.ttf");
}

:root {
  --bg-color: #262a33;
  --main-color: #43ffaf;
  --sub-color: #526777;
  --sub-alt-color: #1f232c;
  --text-color: #e5f7ef;
  --error-color: #ff5f5f;
}

[data-theme="superuser"] {
  --bg-color: #262a33;
  --main-color: #43ffaf;
  --sub-color: #526777;
  --sub-alt-color: #1f232c;
  --text-color: #e5f7ef;
  --error-color: #ff5f5f;
}

[data-theme='pink'] {
  --bg-color: #333a45;
  --main-color: #f44c7f;
  --sub-color: #939eae;
  --sub-alt-color: #2e343d;
  --text-color: #e9ecf0;
  --error-color: #da3333;
}
[data-theme='aether'] {
  --bg-color: #1b1d36;
  --main-color: #fca6d1;
  --caret-color: #99d6ea;
  --sub-color: #99d6ea;
  --sub-alt-color: #17182c;
  --text-color: #e1e7ec;
  --error-color: #fffb85;
}
[data-theme='alduin'] {
  --bg-color: #1c1c1c;
  --main-color: #dfd7af;
  --sub-color: #444444;
  --sub-alt-color: #242424;
  --text-color: #f5f3ed;
  --error-color: #af5f5f;
}
[data-theme='arch'] {
  --bg-color: #0c0d11;
  --main-color: #7ebab5;
  --sub-color: #454864;
  --sub-alt-color: #171a25;
  --text-color: #f6f5f5;
  --error-color: #ff4754;
}
[data-theme='aurora'] {
  --bg-color: #011926;
  --main-color: #00e980;
  --sub-color: #245c69;
  --sub-alt-color: #000c13;
  --text-color: #fff;
  --error-color: #b94da1;
}
[data-theme='bushido'] {
  --bg-color: #242933;
  --main-color: #ec4c56;
  --sub-color: #596172;
  --sub-alt-color: #1c222d;
  --text-color: #f6f0e9;
  --error-color: #ec4c56;
}
[data-theme='carbon'] {
  --bg-color: #313131;
  --main-color: #f66e0d;
  --sub-color: #616161;
  --sub-alt-color: #2b2b2b;
  --text-color: #f5e6c8;
  --error-color: #e72d2d;
}
[data-theme='dark'] {
  --bg-color: #111;
  --main-color: #eee;
  --sub-color: #444;
  --sub-alt-color: #191919;
  --text-color: #eee;
  --error-color: #da3333;
}
[data-theme='dev'] {
  --bg-color: #1b2028;
  --main-color: #23a9d5;
  --sub-color: #4b5975;
  --sub-alt-color: #151a21;
  --text-color: #ccccb5;
  --error-color: #b81b2c;
}
[data-theme='drowning'] {
  --bg-color: #191826;
  --main-color: #4a6fb5;
  --sub-color: #50688c;
  --sub-alt-color: #1e1f2f;
  --text-color: #9393a7;
  --error-color: #be555f;
}
[data-theme='gruvbox'] {
  --bg-color: #282828;
  --main-color: #d79921;
  --sub-color: #665c54;
  --sub-alt-color: #212121;
  --text-color: #ebdbb2;
  --error-color: #fb4934;
}
[data-theme='metaverse'] {
  --bg-color: #232323;
  --main-color: #d82934;
  --sub-color: #5e5e5e;
  --sub-alt-color: #1d1d1d;
  --text-color: #e8e8e8;
  --error-color: #da3333;
}
[data-theme='miami'] {
  --bg-color: #18181a;
  --main-color: #e4609b;
  --sub-color: #47bac0;
  --sub-alt-color: #0f0f10;
  --text-color: #fff;
  --error-color: #fff591;
}
[data-theme='mountain'] {
  --bg-color: #0f0f0f;
  --main-color: #e7e7e7;
  --sub-color: #4c4c4c;
  --sub-alt-color: #1a1a1a;
  --text-color: #e7e7e7;
  --error-color: #ac8c8c;
}
[data-theme='nord'] {
  --bg-color: #242933;
  --main-color: #d8dee9;
  --sub-color: #617b94;
  --sub-alt-color: #1b1f27;
  --text-color: #d8dee9;
  --error-color: #bf616a;
}
[data-theme='paper'] {
  --bg-color: #eeeeee;
  --main-color: #444444;
  --sub-color: #b2b2b2;
  --sub-alt-color: #dddddd;
  --text-color: #444444;
  --error-color: #d70000;
}
[data-theme='pulse'] {
  --bg-color: #181818;
  --main-color: #17b8bd;
  --sub-color: #53565a;
  --sub-alt-color: #121212;
  --text-color: #e5f4f4;
  --error-color: #da3333;
}
[data-theme='shadow'] {
  --bg-color: #000;
  --main-color: #eee;
  --sub-color: #444;
  --sub-alt-color: #171717;
  --text-color: #eee;
  --error-color: #fff;
}
[data-theme='stealth'] {
  --bg-color: #010203;
  --main-color: #383e42;
  --sub-color: #5e676e;
  --sub-alt-color: #121212;
  --text-color: #383e42;
  --error-color: #e25303;
}
[data-theme='viridescent'] {
  --bg-color: #2c3333;
  --main-color: #95d5b2;
  --sub-color: #84a98c;
  --sub-alt-color: #232828;
  --text-color: #e9f5db;
  --error-color: #ff4646;
}
[data-theme='vscode'] {
  --bg-color: #1e1e1e;
  --main-color: #007acc;
  --sub-color: #4d4d4d;
  --sub-alt-color: #191919;
  --text-color: #d4d4d4;
  --error-color: #f44747;
}
[data-theme='weird'] {
  --bg-color: white;
  --main-color: black;
  --sub-color: black;
  --sub-alt-color: white;
  --error-color: red;
  --text-color: grey;
}

::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin-bottom: 60px;
}
.timer {
  font-size: 21pt;
  margin: 5px;
  color: var(--sub-color);
}
.box {
  font-size: 1.5rem;
  overflow: hidden;
  height: 153.6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
}
.box .word {
  position: relative;
  margin: 0 5px 2px;
}
.box .word span {
color: var(--sub-color);
line-height: 2em;
font-weight: 100;
}
.box .word.wrong {
  text-decoration: 2px underline var(--error-color);
  animation: shake 0.1s ease;
}
@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.box .typedWord {
  position: absolute;
  top: 0;
  left: 0;
}
.box span.right {
  color: var(--text-color);
}
.box #active {
  position: relative;
  width: max-content;
}
.box span.wrong {
  color: var(--error-color) !important;
}
.box .extra {
  opacity: 0.6;
}
.box #caret {
  transition: left 0.1s ease;
  position: absolute;
  color: var(--main-color);
  margin-left: -7.29165px;
}
.box #caret.blink {
  animation: blink 1.5s infinite 1s;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}