@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: Inconsolata, monospace;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/LexendDeca-Regular.ttf");
}

:root {
  background-color: var(--bg-color);
    --bg-color: #262a33;
    --main-color: #43ffaf;
    --caret-color: #43ffaf;
    --sub-color: #526777;
    --sub-alt-color: #1f232c;
    --text-color: #e5f7ef;
    --error-color: #ff5f5f;
    --error-extra-color: #d22a2a;
    --colorful-error-color: #ff5f5f;
    --colorful-error-extra-color: #d22a2a;
}

  .test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-bottom: 60px;
 }
  .timer {
    font-size: 21pt;
    margin: 5px;
    color: var(--sub-color);
 }
  .box {
    font-size: 21pt;
    overflow: hidden;
    height: 152px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
 }
  .box .word {
    position: relative;
    margin: 0 5px 2px;
 }
 .box .word span {
  color: var(--sub-color);
  line-height: 45px;
  font-weight: 100;
}
  .box .word.wrong {
    text-decoration: 2px underline var(--error-color);
    animation: shake 0.1s ease;
 }
  @keyframes shake {
    0% {
      transform: translateX(5px);
   }
    50% {
      transform: translateX(-5px);
   }
    100% {
      transform: translateX(0);
   }
 }
  .box .typedWord {
    position: absolute;
    top: 0;
    left: 0;
 }
  .box span.right {
    color: white;
 }
  .box #active {
    position: relative;
    width: max-content;
 }
  .box span.wrong {
    color: var(--error-color) !important;
 }
  .box .extra {
    opacity: 0.6;
 }
  .box #caret {
    transition: left 0.1s ease;
    position: absolute;
    color: var(--main-color);
    margin-left: -7.29165px;
 }
  .box #caret.blink {
    animation: blink 1.5s infinite 1s;
 }
  @keyframes blink {
    0%, 100% {
      opacity: 1;
   }
    50% {
      opacity: 0;
   }
 }
  