.leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4.2rem;
}
p.info {
    font-family: 'lexend';
    color: var(--sub-color);
    font-size: 1.2rem;
}
.leaderboard .leaderboards {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.leaderboard table {
    border-spacing: 0; 
    border-collapse: separate;
    overflow:hidden;
    max-width: 100%; 
    width: 54rem;
}
.leaderboard table thead tr {
    text-align: left;
    background-color: var(--sub-alt-color);
}
.leaderboard table th, .leaderboard table td {
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    font-family: 'lexend';
}
.leaderboard table th {
    color: var(--sub-color);
}
.leaderboard table td {
    color: var(--sub-color);
}
.leaderboard tbody tr:nth-of-type(even) {
    background-color: var(--sub-alt-color)
}
.leaderboard table tbody tr {
    text-align: left;
}

.leaderboard table tbody td {
    border: solid 0px transparent;
    border-style: solid none;
}
.leaderboard table tbody td:first-child, .leaderboard table thead th:first-child {
    border-top-left-radius: 6px; 
    border-bottom-left-radius: 6px;
}
.leaderboard table tbody td:last-child, .leaderboard table thead th:last-child {
    border-bottom-right-radius: 6px; 
    border-top-right-radius: 6px; 
}


@media only screen and (max-width: 56rem) {
    .leaderboard .leaderboards {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    table th.rank { display: none; }
    table td.rank { display: none; }
    .leaderboard table tbody td:nth-child(2), .leaderboard table thead th:nth-child(2) {
        border-top-left-radius: 6px; 
        border-bottom-left-radius: 6px;
    }
}

@media screen and (max-width: 550px) {
    table th.taken { display: none; }
    table td.taken { display: none; }
    .leaderboard table tbody td:nth-child(6), .leaderboard table thead th:nth-child(6) {
        border-bottom-right-radius: 6px; 
        border-top-right-radius: 6px; 
    }
    p.info {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 380px) {
    table th.rawWpm { display: none; }
    table td.rawWpm { display: none; }
    .leaderboard table tbody td:nth-child(6), .leaderboard table thead th:nth-child(6) {
        border-bottom-right-radius: 6px; 
        border-top-right-radius: 6px; 
    }
}

@media screen and (max-width: 370px) {
    .leaderboard table th, .leaderboard table td {
        padding: 10px 10px 10px 20px;
        font-size: 12px;
        font-family: 'lexend';
    }
    p.info {
        font-size: 1rem;
    }
}