.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 1rem;
}
.Login h1 {
    font-family: 'lexend';
    font-weight: normal;
    font-size: 2.5rem;
    color: var(--text-color);
}
.Login input {
    border-radius: 0.3rem;
    height: 57px;
    width: 350px;
    background-color: var(--sub-alt-color);
    outline: none;
    border: 2px solid var(--sub-color);
    padding: 0 0 0 20px;
    transition: 0.3s;
    color: var(--text-color);
    font-family: 'lexend';
    font-size: 1.3rem;
}
.Login input:focus {
    border: 2px solid var(--main-color);
}
.Login form button {
    cursor: pointer;
    color: var(--text-color);
    transition: 0.5s;
    height: 50px;
    width: 130px;
    margin-top: 20px;
    font-size: 15px;
    background: none;
    font-family: sans-serif;
    border: 2px solid var(--text-color);
    border-radius: 3px;
}
.Login form button:hover, .Login form button:focus {
    border-color: var(--main-color);
    color: var(--main-color);
}
.Login p {
    font-family: 'lexend';
    color: var(--sub-color);
    padding-top: 2rem;
    font-size: 1.1rem;
}
.Login span {
    font-family: 'lexend';
    color: var(--text-color);
    font-size: 1.1rem;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .Login input {
        width: 100%;
    }
}