.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .palette {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    background: transparent;
    user-select: none;
    z-index: 1;
  }
  
  .wrapper {
    background-color: var(--sub-alt-color);
    max-height: 50vh;
    height: fit-content;
    width: 35rem;
    margin: 8% auto;
    left: 0;
    right: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
    border: 2px solid var(--sub-color);
  }
  
  .contents {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .options {
    width: 35rem;
    overflow: hidden scroll;
  }
  
  .options::-webkit-scrollbar {
    width: 5px;
  }
  
  .options::-webkit-scrollbar-thumb {
    background-color: var(--sub-color);
  }
  
  .search {
    display: flex;
    align-items: center;
    width: 35rem;
    height: 4rem;
    padding: 1.25rem;
    color: var(--text-color);
  }
  
  .search > svg {
    margin-right: 1.25rem;
  }
  
  .input {
    border: none;
    outline: none;
    background: none;
    color: var(--text-color);
    font-size: 1.25rem;
    font-family: 'lexend';
  }
  
  .option {
    display: flex;
    align-items: center;
    width: 35rem;
    height: 2.5rem;
    padding: 0.625rem 1.25rem;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    font-size: 0.875rem;
    font-family: 'lexend';
    border: none;
  }
  
  .option:hover,
  .option:focus {
    background-color: var(--sub-color);
    cursor: pointer;
    outline: none;
  }
  
  .option > svg {
    margin-right: 0.625rem;
  }
  