.Signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.Signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 1rem;
}
.Signup h1 {
    font-family: 'lexend';
    font-weight: normal;
    font-size: 2.5rem;
    color: var(--text-color);
}
.Signup input {
    border-radius: 0.3rem;
    height: 57px;
    width: 350px;
    background-color: var(--sub-alt-color);
    outline: none;
    border: 2px solid var(--sub-color);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
    transition: 0.3s;
    color: var(--text-color);
    font-family: 'lexend';
    font-size: 1.3rem;
}
.Signup input:focus {
    border: 2px solid var(--main-color);
}
.Signup form button {
    cursor: pointer;
    color: var(--text-color);
    transition: 0.5s;
    height: 50px;
    width: 130px;
    margin-top: 20px;
    font-size: 15px;
    background: none;
    font-family: sans-serif;
    border: 2px solid var(--text-color);
    border-radius: 3px;
}
.Signup form button:hover, .Signup form button:focus {
    border-color: var(--main-color);
    color: var(--main-color);
}
.Signup p {
    font-family: 'lexend';
    color: var(--sub-color);
    padding-top: 2rem;
    font-size: 1.1rem;
}
.Signup span {
    font-family: 'lexend';
    color: var(--text-color);
    font-size: 1.1rem;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .Signup h1 {
        font-size: 2rem;
    }
    .Signup input {
        height: 50px;
        width: 350px;
    }
    .Signup form button {
        height: 45px;
        width: 100px;
    }
}

@media screen and (max-width: 400px) {
    .Signup input {
        width: 100%;
    }
    .Signup p {
        font-size: 0.9rem;
    }
    .Signup span {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 400px) {
    .Signup input {
        width: 100%;
    }
}