
.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 62vh;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
    max-width: 58rem;
    width: 58rem;
}

.box {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--sub-alt-color);
  border-radius: 10px;
  max-height: 8.5em;  
  height: 8.5em;
  user-select: none;
}
.box .word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal; /* Ensure words wrap correctly */
  line-height: 1.8em;
  max-height: 3.6em; /* Limit to 2 lines */
  font-size: 1.5rem;
  overflow: hidden;
}
input {
  background-color: var(--sub-alt-color);
  border: 1px solid var(--sub-color);
  color: var(--text-color);
  border-radius: 5px;
  padding-left: 20px;
  width: 65.5%;
  max-width: 65.5%;
  height: 100%;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--main-color);
  outline: none;
}

.icon {
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(360deg);
}
.timer {
  width: 14.5%; display: flex; user-select: none; height: 100%; align-items: center; justify-content: center; background-color: var(--sub-alt-color); border-radius: 5px;
}
.reset {
  width: 14.5%; display: flex; height: 100%; align-items: center; justify-content: center; background-color: var(--sub-alt-color); border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 700px) {
  input {
    width: 50%;
  }
  .timer {
    width: 21%;
  }
  .reset {
    width: 21%;
  }
}
@media (max-width: 600px) {
  input {
    width: 40%;
  }
  .timer {
    width: 26%;
  }
  .reset {
    width: 26%;
  }
}
@media (max-width: 500px) {
  input {
    width: 46%;
  }
  .timer {
    width: 22%;
  }
  .reset {
    width: 22%;
  }
}
@media (max-width: 400px) {
  input {
    width: 48%;
  }
  .timer {
    width: 20%;
  }
  .reset {
    width: 20%;
  }
}
@media (max-width: 300px) {
  input {
    width: 38%;
  }
  .timer {
    width: 24%;
  }
  .reset {
    width: 24%;
  }
}

@media (max-width: 200px) {
  input {
    width: 35%;
  }
  .timer {
    width: 26.25%;
  }
  .reset {
    width: 26.25%;
  }
}