
.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 62vh;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 58rem;
    width: 58rem;
}

.box {
  font-size: 1.5rem;
  overflow: hidden;
  height: 149px;
  align-items: center;
  user-select: none;
  white-space: pre-wrap;
  overflow-wrap: break-word
}
.box .word {
  position: relative;
  margin: 0 5px 2px;
}
.box .word span {
  color: var(--sub-color);
  line-height: 2em;
  font-weight: 100;
}
