.testContainer {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10rem;
}
.subContainer {
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    box-sizing: border-box;
    padding-right: 20px;
    gap: 1rem;
}
.graph {
    width: 100%;
    height: 300px;
}
.row1 {
    height: 300px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}
.col {
    flex-direction: column;
    height: 100%;
    gap: 3.5rem;
    display: flex;
    align-items:flex-start;
    width: 15%;
}
.col2 {
    max-width: 50rem; 
    height: 300px;
    width: 84%;
}
.testContainer .subContainer .row2 .subCol.wpm, .testContainer .subContainer .row2 .subCol.accuracy {
    display: none;
    flex-direction: column;
    align-items:flex-start;
    gap: 0.5rem;
}

.testContainer .row1 .subCol1, .testContainer .row1 .subCol2 {
    flex-direction: column;
    display: flex;
    align-items:flex-start;
}
.testContainer .col h1 {
    font-size: 3rem;
    font-family: 'lexend';
    color: var(--main-color);
    margin: 0; 
    font-weight: normal;
    padding: 0;
}
.testContainer .col h2 {
    font-size: 1.5rem;
    font-family: 'lexend';
    color: var(--sub-color);
    margin: 0;
    font-weight: normal;
    padding: 0;
}

.row2 {
    height: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.testContainer .row2 .subCol {
    flex-direction: column;
    display: flex;
    align-items:flex-start;
    gap: 0.5rem;
}
.testContainer .row2 .subCol {
    flex-direction: column;
    display: flex;
    align-items:flex-start;
    gap: 0.5rem;
}

.testContainer .row2 .subCol h1 {
    font-size: 1.5rem;
    font-family: 'lexend';
    color: var(--main-color);
    margin: 0; 
    font-weight: normal;
    padding: 0;
}
.testContainer .row2 .subCol h2 {
    font-size: 1.5rem;
    font-family: 'lexend';
    color: var(--sub-color);
    margin: 0;
    padding: 0;
    font-weight: normal;
}
@media screen and (max-width: 60rem) {
    .testContainer .subContainer {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .testContainer .subContainer .col h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 650px) {
    .testContainer .subContainer .row2 .language {
        display: none;
    }
    .testContainer .subContainer .col h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .testContainer .subContainer .row2 .testTaken {
        display: none;
    }
    .testContainer .subContainer .row2 .subCol.wpm, .testContainer .subContainer .row2 .subCol.accuracy {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap: 0.5rem;
    }
    .col {
        display: none;
    }
    .col2 {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .testContainer .subContainer .row2 .raw {
        display: none;
    }
}
